
        <% @chitter.each do |cheet| %>
        <li id="cheet-<%= cheet.id %>">
        "<%= cheet.cheet %>"
      <% end %> <br><br>

  <form action="/chitter/new" method="get">
    <input type="submit" value="New Cheet" />
  </form>
